<form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()" class="flex flex-col gap-4 max-w-md mx-auto">
    <div>
        <label class="floating-label">
            <span>Contraseña actual</span>
            <input type="password" placeholder="Contraseña actual" class="input input-md w-full" formControlName="password" />
        </label>
        <span class="text-xs text-red-500 mt-1 block">
            @if(passwordForm.get('password')?.touched) {
                {{ passwordForm.get('password')?.errors?.['required'] ? 'La contraseña actual es obligatoria' : '' }}
            }
        </span>
    </div>
    <div>
        <label class="floating-label">
            <span>Nueva contraseña</span>
            <input type="password" placeholder="Nueva contraseña" class="input input-md w-full" formControlName="newPassword" />
        </label>
        <span class="text-xs text-red-500 mt-1 block">
            @if(passwordForm.get('newPassword')?.touched) {
                {{ passwordForm.get('newPassword')?.errors?.['required'] ? 'La nueva contraseña es obligatoria' : '' }}
                {{ passwordForm.get('newPassword')?.errors?.['minlength'] ? 'Debe tener al menos 6 caracteres' : '' }}
            }
        </span>
    </div>
    <div>
        <label class="floating-label">
            <span>Confirmar nueva contraseña</span>
            <input type="password" placeholder="Confirmar nueva contraseña" class="input input-md w-full" formControlName="confirmPassword" />
        </label>
        <span class="text-xs text-red-500 mt-1 block">
            @if(passwordForm.get('confirmPassword')?.touched) {
                {{ passwordForm.get('confirmPassword')?.errors?.['required'] ? 'La confirmación es obligatoria' : '' }}
                {{ passwordForm.errors?.['passwordMismatch'] ? 'Las contraseñas no coinciden' : '' }}
            }
        </span>
    </div>
    @if (error()) {
        @for(err of errorMessage(); track $index) {
            <div role="alert" class="alert alert-error alert-soft p-2 rounded-md bg-red-100 text-red-700">
                <span>{{err.msg}}</span>
            </div>
        }
    }
    @if (success()) {
        <div role="alert" class="alert alert-success alert-soft p-2 rounded-md bg-green-100 text-green-700">
            <span>La constraseña se ha actualizado correctamente </span>
        </div>
    }
    <div class="flex justify-end mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">
            @if(loading()) {
                <span class="loading loading-spinner loading-sm"></span>
            }
            Cambiar contraseña
        </button>
    </div>
</form>