<div class="flex items-center justify-center min-h-screen bg-base-100">
    <div class="w-full max-w-md p-8 space-y-6 bg-base-300 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-center">Restablecer Contraseña</h2>
        @if(!success()){
            <form class="space-y-4" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                <div>
                    <label for="password" class="block text-sm font-medium">Nueva Contraseña</label>
                    <input
                        type="password"
                        id="password"
                        formControlName="password"
                        class="w-full px-4 py-2 mt-1 bg-base-100 border rounded-md focus:outline-none"
                        required
                    />
                    @if(resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.invalid){
                        <div class="text-sm text-red-500">
                            @if(resetPasswordForm.get('password')?.errors?.['required']){
                                <div>La contraseña es requerida.</div>
                            }
                            @if(resetPasswordForm.get('password')?.errors?.['minlength']){
                                <div>La contraseña debe tener al menos 6 caracteres.</div>
                            }
                        </div>
                    }
                </div>
                <div>
                    <label for="confirm-password" class="block text-sm font-medium">Confirmar Contraseña</label>
                    <input
                        type="password"
                        id="confirm-password"
                        formControlName="confirmPassword"
                        class="w-full px-4 py-2 mt-1 bg-base-100 border rounded-md focus:outline-none"
                        required
                    />
                    @if(resetPasswordForm.get('confirmPassword')?.touched){
                        <div class="text-sm text-red-500">
                            @if (resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
                                <div>La confirmación de contraseña es requerida.</div>
                            }
                            @if (resetPasswordForm.get('confirmPassword')?.errors?.['minlength']) {
                                <div>La confirmación de contraseña debe tener al menos 6 caracteres.</div>
                            }
                            @if (resetPasswordForm.hasError('passwordMismatch')) {
                                <div>Las contraseñas no coinciden.</div>
                            }
                        </div>
                    }
                </div>
                <button
                    type="submit"
                    class="w-full px-4 py-2 mt-2 btn btn-primary"
                    [disabled]="resetPasswordForm.invalid || loading()"
                >
                    @if(loading()) {
                        <span class="loading loading-spinner loading-sm"></span>
                    }
                    Restablecer Contraseña
                </button>
            </form>
        }@else {
        <div class="text-center">
            <p class="text-lg font-medium">¡La contraseña se ha restablecido exitosamente!</p>
            <button
                class="w-full px-4 py-2 mt-4 btn btn-success"
                routerLink="/auth/login"
            >
                Ir al Login
            </button>
        </div>
        }
    </div>
</div>